.test {
  border: 2px solid red;
}

.bold {
  font-weight: bold;
}

.remove-btn {
  background-color: red;
}

.pointer {
  cursor: pointer;
}

.mode-btn:hover {
  color: #007bff;
}

#main-container{
  min-height: 800px;
}

